@use '../abstracts/mixins';

@font-face {
    font-family: 'Project Space';
    src: url(../assets/fonts/project-space-font/ProjectSpace.otf);
}

@font-face {
    font-family: 'Bowler';
    src: url(../assets/fonts/bowler/BOWLER.otf);
}

@font-face {
    font-family: 'Neuropol';
    src: url(../assets/fonts/neuropol/neuropol.otf);
}

.home__text {
    font-family: var(--ff-secondary);
    font-size: var(--fs-medium);
    text-align: left;
    letter-spacing: 0.06em;
    line-height: 1.4;

    color: var(--color-white);

    &-title {
        font-size: var(--fs-big);

        color: var(--color-primary);
    }

    &-accent {
        color: var(--color-primary);

        & > * {
            color: var(--color-white);
        }
    }
}

.attainment {
    &__title {
        font-family: var(--ff-secondary);
        font-size: var(--fs-big);
    }

    &__item p {
        font-family: var(--ff-primary);
        font-size: var(--fs-paragraph);
    }
}

.fail {
    &__inscription {
        font-size: var(--fs-big);
    }

    &__subinscription {
        font-size: var(--fs-paragraph);
    }

    &__subtitle {
        h2 {
            font-size: var(--fs-medium);
            text-transform: uppercase;

            @include mixins.respond-to('tablet') {
                font-size: var(--fs-paragraph);
            }
        }

        p {
            font-size: var(--fs-medium);
        }
    }

    &__links {
        font-size: var(--fs-medium);
        text-align: center;

        @include mixins.respond-to('desktop') {
            font-size: var(--fs-small);
        }
    }
}

.catalog {
    &__title {
        font-family: var(--ff-secondary);
        font-size: var(--fs-big);
        letter-spacing: 0.04em;
        text-align: left;
    }

    &__item-title {
        font-family: var(--ff-primary);
        font-size: var(--fs-paragraph);
        text-align: left;

        @include mixins.respond-to('tablet') {
            font-size: var(--fs-small);
        }
    }
}
