@use '../abstracts/mixins';

#error-page {
    background-image: url('../assets/images/error-bg.png'),
        url('../assets/images/error-bg2.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    background-color: var(--color-white);
}

.fail {
    display: grid;
    grid-template-columns: minmax(0, 1fr) repeat(6, minmax(0, 25rem)) minmax(
            0,
            1fr
        );
    grid-auto-rows: 1fr;
    grid-template-rows: 1fr minmax(15%, 10rem) repeat(6, min-content) 1fr;
    row-gap: 1rem;

    place-items: center;

    height: 100vh;

    font-family: 'Neuropol', sans-serif;

    @include mixins.respond-to('tablet') {
        grid-template-rows: repeat(9, 1fr);
        column-gap: 3rem;
        row-gap: 0.5rem;

        padding-top: 2rem;
    }

    &__ship {
        grid-row: 2 / span 4;
        grid-column: 3 / span 4;

        display: grid;
        justify-content: center;
        align-items: center;

        z-index: 1;

        img {
            height: min(100%, 14rem);

            @include mixins.respond-to('tablet') {
                height: min(100%, 28rem);
            }
        }

        @include mixins.respond-to('tablet') {
            grid-row: 3 / span 2;
            grid-column: 4 / span 2;

            align-self: flex-start;
        }
    }

    &__title {
        @include mixins.flex(null, center, center);

        grid-row: 4;
        grid-column: 3 / span 4;

        & > * {
            width: max(70rem, 75%);
        }
    }

    &__inscription {
        grid-row: 1;
        grid-column: 3 / span 2;

        display: grid;

        align-self: flex-end;
        justify-self: flex-start;

        @include mixins.respond-to('tablet') {
            grid-row: 3;
            grid-column: 4;

            align-self: flex-start;
            justify-self: flex-start;
        }
    }

    &__subinscription {
        grid-row: 2;
        grid-column: 3 / span 3;
        align-self: flex-start;

        display: grid;

        @include mixins.respond-to('tablet') {
            grid-row: 3;
            grid-column: 5 / span 4;

            grid-template-columns: repeat(6, max-content);
            grid-template-rows: repeat(5, 1fr);
            row-gap: 1rem;

            margin-top: 4rem;

            & h2 {
                grid-row: 2;
                grid-column: 1 / -1;
            }

            & h3 {
                grid-row: 4;
                grid-column: 4 / -1;
            }
        }

        @include mixins.respond-to('desktop') {
            grid-row: 3;
            grid-column: 5 / span 3;
            justify-self: center;
        }
    }

    &__subtitle {
        @include mixins.flex(column, center, center);

        grid-row: 6;
        grid-column: 1 / -1;

        text-align: center;

        p {
            opacity: 0.6;

            @include mixins.respond-to('tablet') {
                width: min(30vw, 100%);
            }
        }

        @include mixins.respond-to('tablet') {
            --gap: 3rem;
            grid-column: 3 / -3;
        }
    }

    &__links {
        grid-row: 8;
        grid-column: 1 / -1;

        @include mixins.flex(column, center, center);

        @include mixins.respond-to('tablet') {
            --gap: 6rem;
            flex-direction: row;

            & > * {
                width: min(14vw, 25%);
            }
        }
    }

    &__star {
        width: min(10vw, 100%);

        align-self: center;

        &[data-num='1'] {
            grid-row: 1;
            grid-column: 5 / span 2;

            @include mixins.respond-to('tablet') {
                grid-row: 1 / span 3;
                grid-column: 1 / span 2;
            }
        }

        &[data-num='2'] {
            grid-row: 2;
            grid-column: 2 / span 2;

            @include mixins.respond-to('tablet') {
                grid-row: 1 / span 2;
                grid-column: 4;
                align-self: flex-start;
            }
        }

        &[data-num='3'] {
            grid-row: 4;
            grid-column: 7;

            @include mixins.respond-to('tablet') {
                grid-row: 4;
                grid-column: 7;
            }
        }

        &[data-num='4'] {
            grid-row: 1;
            grid-column: 7;

            align-self: flex-end;

            & * {
                height: max(0.5vw, 0.5rem);
            }

            @include mixins.respond-to('tablet') {
                grid-row: 4;
                grid-column: 2;

                justify-self: flex-end;
                align-self: flex-start;
            }
        }

        &[data-num='5'] {
            grid-row: 2;
            grid-column: 6;

            align-self: flex-end;

            & * {
                height: max(0.5vw, 0.5rem);
            }

            @include mixins.respond-to('tablet') {
                grid-row: 1;
                grid-column: 5;

                justify-self: center;
                align-self: flex-start;
            }
        }

        &[data-num='6'] {
            grid-row: 2;
            grid-column: 4;

            align-self: center;

            & * {
                height: max(0.8vw, 0.8rem);
            }

            @include mixins.respond-to('tablet') {
                grid-row: 2;
                grid-column: 6;

                justify-self: center;
                align-self: flex-start;
            }
        }

        &[data-num='7'] {
            grid-row: 1;
            grid-column: 2;

            align-self: center;

            & * {
                height: max(0.5vw, 0.5rem);
            }

            @include mixins.respond-to('tablet') {
                grid-row: 4;
                grid-column: 7;

                justify-self: flex-end;
                align-self: flex-end;
            }
        }
    }
}

.line {
    @include mixins.respond-to('tablet') {
        width: 10rem;
        height: 0.2rem;

        background-color: currentColor;

        &[data-name='line1'] {
            grid-row: 1;
            grid-column: 3 / span 3;
            justify-self: flex-end;
        }

        &[data-name='line2'] {
            width: 80%;

            grid-row: 3;
            grid-column: 1/-1;
            align-self: center;
        }

        &[data-name='line3'] {
            grid-row: 1;
            grid-column: 4 / span 3;
            justify-self: flex-end;
            align-self: flex-end;
        }
    }
}
