@use '../abstracts/mixins';

.header {
    @include mixins.flex(null, center, flex-end);

    padding: 1rem 2rem;

    @include mixins.respond-to('tablet') {
        justify-content: flex-start;

        padding: 2rem 2rem;
    }
}

#registration .header {
    padding: 5vw 3vw;

    @include mixins.respond-to('tablet') {
        justify-content: center;

        padding-top: 8rem;
        padding-bottom: 5rem;
    }
}

#login .header {
    justify-content: center;
}

.header-nav {
    @include mixins.flex(column, space-between, center);

    padding: 2rem 5vw;

    box-shadow: 0 1rem 6rem var(--color-primary);

    background: var(--color-header);

    backdrop-filter: blur(1rem);

    z-index: 2;

    @include mixins.respond-to('tablet') {
        position: sticky;
        top: 0;

        flex-direction: row;
    }

    &__logo {
        & img {
            min-height: 6rem;

            padding-block: 0.5rem;
        }
    }

    .nav {
        &__list {
            --gap: 2rem;
            @include mixins.flex(null, center, flex-end);
            flex-wrap: wrap;

            padding-block: 1rem;

            @include mixins.respond-to('desktop') {
                --gap: 4.5rem;
            }
        }

        &__item {
            @include mixins.flex(null, center, center);

            position: relative;

            & img {
                height: 2rem;

                transition: filter 0.3s ease;

                @include mixins.respond-to('desktop') {
                    height: auto;
                }
            }

            @media (hover: hover) {
                &:hover {
                    & img {
                        filter: drop-shadow(0 0 0.5rem var(--color-primary));
                    }
                }
            }

            & > button {
                --gap: 1rem;
                @include mixins.flex(column, center, center);

                cursor: pointer;
            }
        }

        &__link {
            --gap: 1rem;
            @include mixins.flex(column, center, center);

            position: relative;
        }

        &__title {
            color: var(--color-white);
        }

        #purchases-number {
            visibility: hidden;

            position: absolute;
            top: -1rem;
            right: 1.8rem;
            width: 2.5rem;
            height: 2.5rem;

            display: grid;
            place-content: center;

            background-color: var(--color-primary);
            color: var(--color-secondary);
        }
    }
}
