@font-face {
    font-family: 'Neuropol';
    src: url(./assets/fonts/neuropol.ttf);
}
body,
section,
header,
h1,
h2,
div,
p {
    margin: 0;
    padding: 0;
}
:root {
    --color-header: #5e5971;
    --color-primary: #fff;
    --color-primary-opacity: #ffffff75;
    --main-font: 'Neuropol';
}

html {
    font-size: 10px;
}
body {
    background-image: url('../src/assets/img/DreamShaper_v7_A_comet_flying_in_outer_space_0\ 7.png');
    background-size: cover;
    font-family: 'Neuropol', sans-serif;
}
#root {
    width: 100%;
}
.login {
    width: 44.3%;
    margin: 0 auto;
    font-family: 'Neuropol', sans-serif;
}
.authorization__div {
    background-color: var(--color-primary-opacity);
    border-radius: 2px;
}
.authorization__header {
    background-color: var(--color-header);
    color: var(--color-primary);
}
.authorization__form {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
}
.authorization__h1 {
    font-size: 2.8rem;
    padding: 5% 12% 4.3% 10.7%;
}
.authorization__h2 {
    padding: 6.23% 12% 5.76% 10.7%;
    font-size: 2rem;
    color: var(--color-header);
    a {
        color: var(--color-header);
        border-bottom: dotted #5e5971;
    }
}
.authorization__div__input {
    position: relative;
    padding: 0 12% 0 10.7%;
}
.authorization__input {
    width: 100%;
    padding: 0.5em;
    background-color: var(--color-primary-opacity);
    color: var(--color-header);
    border: 2px solid var(--color-header);
    outline: none;
    font-family: var(--main-font), sans-serif;
}
.authorization__btn_submit {
    align-self: center;
}
.authorization__btn_eye {
    position: absolute;
    right: 2%;
    top: 0;
}
.authorization__input_invalid {
    border: 3px solid red;
}
.error-message {
    color: red;
}
