@use '../abstracts/mixins';

:root {
    //Colors
    --color-primary: hsl(181, 73%, 60%);
    --color-secondary: hsl(252, 12%, 40%);
    --color-white: hsl(0, 0%, 100%);
    --color-white-alpha: hsla(0, 0%, 100%, 80%);
    --color-danger: hsl(0, 81%, 44%);
    --color-black: hsl(0, 0%, 0%);
    --drop-shadow-white: 0 0 2rem var(--color-white),
        0 0 0.2rem var(--color-white);
    --drop-shadow-light: 0 0 2rem var(--color-primary),
        0 0 0.6rem var(--color-primary);

    //Fonts
    --ff-title: 'Project Space', sans-serif;
    --ff-primary: 'neuropol', sans-serif;
    --ff-secondary: 'Bowler', sans-serif;

    --fs-title: clamp(1.4rem, 4vw, 10rem);
    --fs-logo: clamp(4rem, 5vw, 9rem);
    --fs-big: clamp(2rem, 3vw, 5rem);
    --fs-medium: clamp(1.2rem, 1vw, 3rem);
    --fs-small: clamp(1rem, 2vw, 1.6rem);
}
