@use '../abstracts/mixins';

.error-message {
    position: absolute;

    padding-top: 0.5rem;

    font-family: var(--ff-errors);
    font-size: 1.3rem;
    text-align: left;
    text-transform: lowercase;

    color: var(--color-danger);

    @include mixins.respond-to('tablet') {
        padding-top: 1rem;
    }
}
