@use '../abstracts/mixins';

.form {
    margin: 0 auto;
    padding-bottom: 3rem;

    @include mixins.respond-to('tablet') {
        padding-bottom: 8rem;
    }

    &__title {
        padding: 2vw;

        color: var(--color-white);
        background-color: var(--color-secondary);
    }

    &__content {
        padding: 1rem;

        color: var(--color-secondary);
        background-color: var(--color-white-alpha);

        backdrop-filter: blur(5px);

        @include mixins.respond-to('tablet') {
            padding: 4rem 8rem 0 8rem;
        }
    }

    &__question {
        @include mixins.flex(column, null, null);

        text-align: center;

        a {
            width: min-content;

            align-self: center;

            border-bottom: 1px dashed var(--color-secondary);
        }

        @include mixins.respond-to('tablet') {
            display: block;

            flex-direction: row;

            padding-block: 2rem;

            text-align: left;
        }
    }

    &__inputs {
        padding-block: 2rem;

        & > * + * {
            margin-top: 3.5rem;
        }

        @include mixins.respond-to('tablet') {
            padding-top: 3rem;
            padding-bottom: 5rem;

            &-wrapper {
                &--offset {
                    margin-top: 5.5rem;
                }
            }
        }
    }

    &__input {
        position: relative;

        width: 100%;

        padding: 1.2rem;

        text-align: center;

        outline: 1px solid var(--color-secondary);

        z-index: 2;

        &::placeholder {
            opacity: 0.5;
        }

        &:focus {
            background-color: var(--color-white);

            + .placeholder__input {
                opacity: 1;
            }
        }

        &-group {
            margin-top: 3rem;
            padding: 0 1.5rem 1rem 1.5rem;

            border: 1px solid var(--color-black);

            & > * + * {
                margin-top: 3rem;
            }

            @include mixins.respond-to('tablet') {
                margin-top: 5rem;
                padding: 2rem;

                border: 1px solid var(--color-black);

                & > * + * {
                    margin-top: 3.5rem;
                }
            }
        }

        &-pair {
            display: grid;
            grid-template-columns: 1fr;
            gap: 3.5rem;

            @include mixins.respond-to('tablet') {
                grid-template-columns: 1fr 1fr;
                gap: 3rem;
            }
        }

        &-trio {
            position: relative;

            display: grid;
            grid-template-columns: 1fr;
            gap: 3rem;

            @include mixins.respond-to('tablet') {
                grid-template-columns: 1fr 2fr 1fr;
                gap: 3rem;
            }
        }

        &_checkbox {
            @include mixins.flex(null, null, center);

            input {
                width: 2.5rem;
                height: 2.5rem;
            }
        }

        &_invalid {
            outline: 1px solid var(--color-danger);
        }

        @include mixins.respond-to('tablet') {
            padding: 1rem 2.5rem;

            text-align: left;
        }
    }

    &__password {
        text-transform: none;
    }

    &__select {
        width: 100%;
        height: 100%;
    }

    &_big-first-letter {
        text-transform: capitalize;
    }
}

#search-bar {
    margin-right: 0;
    border-radius: 0;

    transition:
        opacity 0.16s,
        scale 0.16s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.search-bar {
    @include mixins.flex(row, center, center);

    position: absolute;
    top: calc(100% + 3.1rem);
    width: max(20rem, 50%);

    padding: 1em 2em;

    opacity: 0;

    scale: 0 0;

    z-index: -1;

    @include mixins.respond-to('mobile') {
        left: 4rem;
    }
    @include mixins.respond-to('tablet') {
        left: auto;
    }

    & input {
        width: 100%;
        order: 1;
    }

    & button {
        --gap: 1rem;
        @include mixins.flex(row, flex-start, center);

        width: fit-content;

        padding: 0;

        border-radius: 0;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(
            0.4turn,
            transparent 20%,
            var(--color-secondary),
            var(--color-secondary)
        );
        border-image-slice: 1;

        &:active,
        &:hover {
            background-color: transparent;
            border-radius: 0;
        }
    }

    & svg {
        font-size: 2.2rem;
    }

    &.search-bar_open {
        margin: 0;

        opacity: 1;

        scale: 1 1;
    }
}

/* Custom rules for checkbox */
input[type='checkbox'] {
    -webkit-appearance: checkbox;
    appearance: checkbox;
}
