.placeholder {
    position: relative;
    overflow: hidden;

    &__input {
        z-index: 1;
        cursor: text;
        position: absolute;
        top: 1px;
        left: 25px;
        width: 100%;
        display: none;
        color: var(--color-secondary);
        opacity: 0.5;
        span {
            color: var(--color-primary);
        }
    }
    input:invalid + .placeholder__input {
        display: inline;
    }
}

select option span {
    background-color: red;
}
