.placeholder {
    position: relative;
    overflow: hidden;

    &__input {
        z-index: 1;
        cursor: text;
        position: absolute;
        top: 1px;
        left: 25px;
        width: 100%;
        display: none;
        color: var(--color-secondary);
        opacity: 0.5;
        span {
            color: var(--color-primary);
        }
    }
    input:invalid + .placeholder__input {
        display: inline;
    }
}

select option span {
    background-color: red;
    // color: var(--color-primary);
}

// .placeholder__input {
//     z-index: 100;
//     left: 10px;
//     cursor: text;
//     position: absolute;
//     top: 1px;
//     left: 25px;
//     width: 100%;
//     display: none;
//     color: var(--color-secondary);
//     opacity: 0.5;
// }

// .placeholder input:invalid + .placeholder__input {
//     display: inline;
// }

// .placeholder {
//     position: relative;
//     overflow: hidden;
// }

// .placeholder__input span {
//     color: rgb(77, 225, 227);
// }
