#registration {
    background-image: url('../assets/images/registration-bg.svg');
    background-size: cover;
    background-position: center;
}

.registration {
    width: min(100rem, 95%);

    padding-bottom: 20rem;
}
