body {
    background-image: url('../assets/images/registration-bg.svg');
    background-position: center;
}

.registration {
    width: min(100rem, 95%);

    padding-bottom: 20rem;

    // &__button {
    //     margin-top: 5rem;
    // }
}
